@font-face {
  font-family: 'Ranchers';
  src: url('./fonts/Ranchers-Regular.woff2') format('woff2'),
      url('./fonts/Ranchers-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(189, 255, 189), rgb(189, 255, 189), lime);
}


.start-div, .countdown-div, .lose-div, .win-div {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}


/* STARTING SCREEN start */

.start-div {
  background-image: linear-gradient(to right bottom, lightgreen, teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  transition: all 0.30s;
}

.start-div.slide {
  transform: translateX(-100%)
}

.start-div p.start-title {
  font-size: 2em;
  font-family: "Ranchers",sans-serif;
  color: white;
  word-spacing: 0.15em;
  text-shadow: 2px 2px 2px teal;
}

.start-div img {
  width: 60%;
  border-radius: 10px;
}

.start-div button {
  margin-top: 0.5em;
  font-size: 2em;
  font-family: "Ranchers", sans-serif;
  background-color: lime;
  color: #eee;
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 2px 5px 16px 0px teal, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 2px 5px 16px 0px teal, 5px 5px 15px 5px rgba(0,0,0,0);
  transition-duration: 0.2s
}

.start-div button:active {
  background-color: limegreen;
}

/* STARTING SCREEN end */




/* COUNTDOWN start */

.countdown-div {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  align-content: center;
  color: white;
  font-size: 3em;
  font-family: "Ranchers", sans-serif;

	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;

}

/* COUNTDOWN end */




 /* TOP-CONTAINER start */

.top-container {
  display: flex;
  width: 85vw;
  justify-self: center;
  margin-top: 10vh;
  margin-bottom: 1em;
  position: relative;
}

.top-container > img {
  width: 20%;
  border-radius: 5px;
}

.timer-container {
  position:absolute;
  right: 0%;
  top: 5%;
  padding: 0px;
}

.timer-container h3 {
  font-family: "Arial", sans-serif;
  word-spacing: -1px;
  font-size: 1.1em;
}

.timer-container p.timer {
  font-size: 1.9em;
  text-align:end;
  font-family: "sans-serif";
  font-weight: bold
}


/* TOP-CONTAINER end */



/* PUZZLE-CONTAINER start */
.puzzle-container {
  width: 90vw;
  height: 90vw;
  border: 10px solid #171717;
  border-radius: 10px;
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  justify-self: center;
  align-self: center;
}

.puzzle-container >img {
  width: 100%;
  height: 1fr;
}

/* PUZZLE-CONTAINER end */




/* WIN-DIV AND LOSE-DIV start */
.lose-div, .win-div {
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  align-content: center;
  justify-items: center;

  font-family: "Ranchers", sans-serif;
  font-size: 3em;
  word-spacing: 0.3em;
  text-decoration: underline;

  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

.lose-div img, .win-div img {
  background-color: rgba(0, 0, 0, 1);
  margin-top: 10px;
  width: 35%;
  align-self: center;
  background-color: rgb(255, 140, 9);
  border-radius: 80px;
  align-items: center;
  justify-items: center;
}

.lose-div {
  color: red;
}

.win-div {
  color: lime;
}
/* WIN-DIV AND LOSE-DIV end */